.list-container {
  display: flex;
  justify-content: center;
  padding: 40px;
  background: #f7f7f7;
  min-height: 100vh;
}

.products-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 40px;
  margin: 0;
  width: 100%;
  max-width: 1400px;
}

.product-box {
  width: 400px;
  height: 500px;
  background: white;
  padding: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-box {
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  border: 1px solid #eee;
  transition: box-shadow 0.3s;
  position: relative;
}

.image-box:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  .addToBasket {
    display: block;
  }
}

.basket-wrapper {
  position: absolute;
  bottom: 12px;
  right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addToBasket {
  display: none;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  padding: 12px;
  background: white;
  z-index: 1;
  transition: background 0.3s;
}

.addToBasket:hover {
  background: #778376;
}

/* tooltip */
.tooltip {
  /* width: 120px; */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  position: absolute;
  bottom: 100%;
  margin-bottom: 8px !important;
  left: 50%;
  transform: translateX(-50%);
  background: #2d3748;
  color: white;
  padding: 2px 8px;
  font-size: 8px;
  white-space: nowrap !important;
  z-index: 2;
}
.basket-wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.description-box {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.description-box p {
  font-size: 14px;
  font-weight: 500;
  color: rgb(12, 10, 10);
  margin: 0 0 16px;
}
.price-box {
  display: flex;
  gap: 14px;
}
.price-box span:first-child {
  color: #e5e5e5;
  text-decoration: line-through;
  font-style: 16px;
}
.price-box span:last-child {
  font-weight: bold;
  font-style: 24px;
}
/* modal */
.modal-body {
  color: #697567;
}
.bttn-modal {
  background: #778376 !important;
  color: #e8d9c6 !important;
  padding: 8px 18px !important;
  border: none !important;
  transition: transform 0.3s  !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.bttn-modal:hover {
  background-color: #5f695f !important;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
}

.bttn-modal:active {
  transform: scale(0.95);
}