.modal-body {
  color: #697567;
}
.bttn-modal {
  background: #778376 !important;
  color: #e8d9c6 !important;
  padding: 8px 18px !important;
  border: none !important;
  transition: transform 0.3s  !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.bttn-modal:hover {
  background-color: #5f695f !important;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
}

.bttn-modal:active {
  transform: scale(0.95);
}